<%% title "Edit <%= singular_name.titleize %>" %>

<%= render_form %>

<%- if actions? :show, :index -%>
<ul class="wp-actions-list">
<%- if action? :show -%>
  <li><%%= link_to_iconable 'Show', [@client, @<%= singular_name %>], class: "show-item show-text" %></li>
<%- end -%>
<%- if action? :index -%>
  <li><%%= link_to_iconable 'View All', [@client, :<%= plural_name %>], class: "index-item show-text" %></li>
<%- end -%>
</ul>
<%- end -%>
