<%% title "New <%= singular_name.titleize %>" %>

<%= render_form %>

<%- if action? :index -%>
<ul class="wp-actions-list">
  <li><%%= link_to_iconable 'Back to List', [@client, :<%= plural_name %>], class: "index-item show-text" %></li>
</ul>
<%- end -%>
